events_flow.json
[
    {
        "id": "a2cc32e8.5ce71",
        "type": "subflow",
        "name": "Twitter w/ Traffic Control",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "63b43ad1.a64074"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "b8ec5381.86231",
        "type": "twitter out",
        "z": "a2cc32e8.5ce71",
        "twitter": "",
        "name": "Tweet",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f731d01.4dbe43",
        "type": "debug",
        "z": "a2cc32e8.5ce71",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "d26b6fbd.7187f",
        "type": "delay",
        "z": "a2cc32e8.5ce71",
        "name": "Random Delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "1",
        "randomUnits": "seconds",
        "drop": false,
        "x": 380,
        "y": 80,
        "wires": [
            [
                "1f731d01.4dbe43",
                "b8ec5381.86231"
            ]
        ]
    },
    {
        "id": "de1e966f.985f68",
        "type": "comment",
        "z": "a2cc32e8.5ce71",
        "name": "Traffic Control",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "63b43ad1.a64074",
        "type": "delay",
        "z": "a2cc32e8.5ce71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "8",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "d26b6fbd.7187f"
            ]
        ]
    },
    {
        "id": "a6a6fdd5.4bb71",
        "type": "tab",
        "label": "HA Twitter Events",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ced29094.b69f2",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "input_boolean.pj_sleeping",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "24f6a18c.95941e"
            ]
        ]
    },
    {
        "id": "24f6a18c.95941e",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "1133b379.c5e49d"
            ]
        ]
    },
    {
        "id": "1133b379.c5e49d",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "edc274e.b606188"
            ],
            [
                "e4a2a6c0.15d528"
            ]
        ]
    },
    {
        "id": "edc274e.b606188",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Goodnight Msg",
        "func": "msg.payload = \"🌙 It is now time for bed, and the lights have been turned off. Sweet dreams, everyone! Good night, sleep tight, don't let the bed bugs bite...\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "a9130844.5d85b8"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "e4a2a6c0.15d528",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Good morning Msg",
        "func": "var d = new Date();\nvar n = d.toLocaleTimeString()\n\nmsg.payload = msg.payload.toString();\nvar text1 = \"Gooood morning, @vidvisionify! It is now \";\nvar text2 = \", and nighttime is officially over! 🌅 Time to rise and shine! \";\nmsg.payload = text1 + n + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "a9130844.5d85b8"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "37e66b47.c1fef4",
        "type": "exec",
        "z": "a6a6fdd5.4bb71",
        "command": "curl -O \"http://ftpcontent6.worldnow.com/wrex/weather2015/Stateline_Clouds_and_Radar_640.gif\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Download Radar",
        "x": 510,
        "y": 360,
        "wires": [
            [],
            [],
            [
                "f7965dca.d58a8"
            ]
        ]
    },
    {
        "id": "f7965dca.d58a8",
        "type": "file in",
        "z": "a6a6fdd5.4bb71",
        "name": "Grab Radar Image",
        "filename": "Stateline_Clouds_and_Radar_640.gif",
        "format": "",
        "sendError": false,
        "x": 730,
        "y": 320,
        "wires": [
            [
                "453dff06.209a4"
            ]
        ]
    },
    {
        "id": "453dff06.209a4",
        "type": "change",
        "z": "a6a6fdd5.4bb71",
        "name": "Attach Radar Image",
        "rules": [
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 360,
        "wires": [
            [
                "48c159fa.178658"
            ]
        ]
    },
    {
        "id": "48c159fa.178658",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Rain Msg",
        "func": "msg.payload =\"Looks like things are starting to get a bit wet out there... ☔\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "268e0806.3a0f98"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "63837f40.783bc",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.dark_sky_precip",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "bcea4f3.0e56eb"
            ]
        ]
    },
    {
        "id": "bcea4f3.0e56eb",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Known?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "unknown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "37e66b47.c1fef4"
            ]
        ]
    },
    {
        "id": "df578a7c.489548",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Sleep Status",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "2c895bd2.361b74",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Post Radar if Raining",
        "info": "",
        "x": 180,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea259a6b.994028",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "ding",
        "hass": "a340a956.5fa5d8",
        "entity": "binary_sensor.ring_front_door_ding",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "da48ebd8.581588"
            ]
        ]
    },
    {
        "id": "da48ebd8.581588",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "a16e2b15.fd7658"
            ]
        ]
    },
    {
        "id": "a16e2b15.fd7658",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 480,
        "wires": [
            [
                "4de056e9.6430e8"
            ],
            []
        ]
    },
    {
        "id": "4de056e9.6430e8",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Doorbell Msg",
        "func": "msg.payload = \"🚪🔔 Someone just ran the @ring doorbell. I wonder who it could be?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "615c7210.c4805c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "78bfbd27.2c63c4",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Doorbell Rang",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "71a82f1c.90703",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Spotify",
        "info": "",
        "x": 130,
        "y": 540,
        "wires": []
    },
    {
        "id": "45a37af5.b39634",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 920,
        "y": 580,
        "wires": [
            [
                "a2a87ae7.0deb48"
            ]
        ]
    },
    {
        "id": "268e0806.3a0f98",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "4",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "e8f2d39.f75283"
            ]
        ]
    },
    {
        "id": "57f50c09.25ba14",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "ding",
        "hass": "a340a956.5fa5d8",
        "entity": "binary_sensor.ecolink_garage_door_tilt_sensor_sensor",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "82e255e8.2f0368"
            ]
        ]
    },
    {
        "id": "82e255e8.2f0368",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 700,
        "wires": [
            [
                "132cfdd2.d4d932"
            ]
        ]
    },
    {
        "id": "132cfdd2.d4d932",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "25b4c530.bcde4a"
            ],
            []
        ]
    },
    {
        "id": "25b4c530.bcde4a",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Garage Msg",
        "func": "msg.payload = \"💡 I sense someone opened the garage door; I turned on a light since the overhead light is broken. #smarthome #automation\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 700,
        "wires": [
            [
                "877656f4.a071e8"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "877656f4.a071e8",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "b8799709.e73638"
            ]
        ]
    },
    {
        "id": "a1e0578f.f232d8",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Garage Opened",
        "info": "",
        "x": 160,
        "y": 660,
        "wires": []
    },
    {
        "id": "c9bcaf5c.66b41",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "media_player.spotify",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "7d169796.2d5c68"
            ]
        ]
    },
    {
        "id": "7d169796.2d5c68",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Playing?",
        "property": "payload.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "da6d2d9a.79d9b"
            ]
        ]
    },
    {
        "id": "da6d2d9a.79d9b",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Spotify Msg",
        "func": "var myArray = [\n  \"Rocking out to '\",\n  \"Listening to '\",\n  \"Jamming to '\",\n  \"Playing '\"\n];\n\nvar randomItem = myArray[Math.floor(Math.random()*myArray.length)];\n\nvar text2 = \" - \";\nvar text3 = \"' on @Spotify! 🎵 https://open.spotify.com/track/\";\nvar track = msg.payload.new_state.attributes.media_content_id.replace(\"spotify:track:\", \"\")\n\n\nmsg.payload = randomItem + msg.payload.new_state.attributes.media_title + text2 + msg.payload.new_state.attributes.media_artist + text3 + track;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "285dc1cf.7da02e"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "285dc1cf.7da02e",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Add Mentions",
        "func": "var newString = msg.payload.replace(\"Ninja Sex Party\", \"@ninjasexparty\")\nreturn { payload : newString };",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 580,
        "wires": [
            [
                "45a37af5.b39634"
            ]
        ]
    },
    {
        "id": "714cc9f0.8ec798",
        "type": "exec",
        "z": "a6a6fdd5.4bb71",
        "command": "wget -O giphy.gif ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Download GIF",
        "x": 740,
        "y": 920,
        "wires": [
            [],
            [],
            [
                "8256a71b.8eb428"
            ]
        ]
    },
    {
        "id": "8256a71b.8eb428",
        "type": "file in",
        "z": "a6a6fdd5.4bb71",
        "name": "Grab GIF",
        "filename": "giphy.gif",
        "format": "",
        "sendError": false,
        "x": 920,
        "y": 900,
        "wires": [
            [
                "4923e86d.d4a6f8"
            ]
        ]
    },
    {
        "id": "4923e86d.d4a6f8",
        "type": "change",
        "z": "a6a6fdd5.4bb71",
        "name": "Attach GIF Image",
        "rules": [
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 940,
        "wires": [
            [
                "745a9961.a75ca8"
            ]
        ]
    },
    {
        "id": "1164a89d.c10f57",
        "type": "giphy-random",
        "z": "a6a6fdd5.4bb71",
        "name": "giphy_random",
        "apikey": "03rtbxCTxwO49cpgu17B3NzAzNOSOAex",
        "tag": "kitten",
        "rating": "g",
        "x": 500,
        "y": 900,
        "wires": [
            [
                "5dae8eb6.12d4f"
            ]
        ]
    },
    {
        "id": "745a9961.a75ca8",
        "type": "http request",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "https://catfact.ninja/fact",
        "tls": "",
        "x": 1110,
        "y": 900,
        "wires": [
            [
                "af039311.b8456"
            ]
        ]
    },
    {
        "id": "af039311.b8456",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Cat Fact Msg",
        "func": "msg.payload = msg.payload.fact.toString();\nvar text1 = \"🐱 \"\nvar text2 = \" #randomcatfact\";\nmsg.payload = msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 940,
        "wires": [
            [
                "f2818982.c0f5b8"
            ]
        ]
    },
    {
        "id": "5dae8eb6.12d4f",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Get GIF Url",
        "func": "msg.payload = msg.payload.data.image_url.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 940,
        "wires": [
            [
                "714cc9f0.8ec798"
            ]
        ]
    },
    {
        "id": "ac8fe806.1ad9a8",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "ding",
        "hass": "a340a956.5fa5d8",
        "entity": "binary_sensor.basement_motion",
        "x": 200,
        "y": 940,
        "wires": [
            [
                "81965267.758f6"
            ]
        ]
    },
    {
        "id": "81965267.758f6",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 900,
        "wires": [
            [
                "7811b4b5.7b002c"
            ]
        ]
    },
    {
        "id": "7811b4b5.7b002c",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "1164a89d.c10f57"
            ],
            []
        ]
    },
    {
        "id": "d30db84a.84c178",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Litterbox Cat Fact",
        "info": "",
        "x": 150,
        "y": 860,
        "wires": []
    },
    {
        "id": "f2818982.c0f5b8",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1340,
        "y": 900,
        "wires": [
            [
                "e4cde584.031648"
            ]
        ]
    },
    {
        "id": "8cbf03ca.729be",
        "type": "feedparse",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "url": "https://github.com/vidvisionify/HA-Twitter-Bot/commits/master.atom",
        "interval": 15,
        "x": 280,
        "y": 800,
        "wires": [
            [
                "4d0ba8b6.2277b8"
            ]
        ]
    },
    {
        "id": "3593505c.e825c",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Github Commit Msg",
        "func": "msg.payload = msg.payload.toString();\nmsg.link = msg.link.toString();\nvar text1 = \"Updated the bot's repository on Github - \";\nvar text2 = \" \";\nmsg.payload = text1 + msg.payload + text2 + msg.link;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 800,
        "wires": [
            [
                "f63c6a19.f33538"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "4d0ba8b6.2277b8",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.link = msg.article.link ;\nmsg.payload = msg.article.title ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 800,
        "wires": [
            [
                "3593505c.e825c"
            ]
        ]
    },
    {
        "id": "261b1f9e.e1dbc",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Bot Github",
        "info": "",
        "x": 120,
        "y": 760,
        "wires": []
    },
    {
        "id": "f63c6a19.f33538",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1120,
        "y": 800,
        "wires": [
            [
                "59e08fe4.e7e11"
            ]
        ]
    },
    {
        "id": "46efa06a.0f47f",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.fastcom_download",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "a69d93a8.e761e"
            ]
        ]
    },
    {
        "id": "a69d93a8.e761e",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.download = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "3488fb1b.645504"
            ]
        ]
    },
    {
        "id": "6ffee4ae.15867c",
        "type": "inject",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "46efa06a.0f47f"
            ]
        ]
    },
    {
        "id": "3488fb1b.645504",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.speedtest_upload",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "d8e6049c.01baf8"
            ]
        ]
    },
    {
        "id": "d8e6049c.01baf8",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.upload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 120,
        "wires": [
            [
                "9e89afe9.8bd2b"
            ]
        ]
    },
    {
        "id": "9e89afe9.8bd2b",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Internet Speeds Msg",
        "func": "msg.download = msg.download.toString();\nmsg.upload = msg.upload.toString();\nvar text1 = \"Our @Xfinity internet connection is running at \";\nvar text2 = \" mbps🔽 and \";\nvar text3 = \" mbps🔼. #DailyStat #SmartHome\";\nmsg.payload = text1 + msg.download + text2 + msg.upload + text3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 80,
        "wires": [
            [
                "79860dd7.719a34"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "9cc398b8.f258b8",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Daily Network",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "79860dd7.719a34",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "x": 1300,
        "y": 80,
        "wires": []
    },
    {
        "id": "a9130844.5d85b8",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "e8f2d39.f75283",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1360,
        "y": 340,
        "wires": []
    },
    {
        "id": "615c7210.c4805c",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "a2a87ae7.0deb48",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1140,
        "y": 580,
        "wires": []
    },
    {
        "id": "b8799709.e73638",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1240,
        "y": 680,
        "wires": []
    },
    {
        "id": "59e08fe4.e7e11",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1340,
        "y": 800,
        "wires": []
    },
    {
        "id": "e4cde584.031648",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1560,
        "y": 900,
        "wires": []
    },
    {
        "id": "13776e2c.255a42",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Plex Media Players",
        "info": "",
        "x": 150,
        "y": 1020,
        "wires": []
    },
    {
        "id": "859682ae.dd194",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "media_player.plex_chrome",
        "x": 220,
        "y": 1060,
        "wires": [
            [
                "d421ab4f.93a3b8"
            ]
        ]
    },
    {
        "id": "d421ab4f.93a3b8",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Playing?",
        "property": "payload.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 1060,
        "wires": [
            [
                "f757806c.9f26c"
            ]
        ]
    },
    {
        "id": "cfd91109.0ae12",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Media Type?",
        "func": "msg.mediatype = msg.payload.new_state.attributes.media_content_type;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "9064bf4d.236f4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "9064bf4d.236f4",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "mediatype",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tvshow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "movie",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 1060,
        "wires": [
            [
                "c5175c2f.70566"
            ],
            [
                "46c86227.00487c"
            ]
        ]
    },
    {
        "id": "c5175c2f.70566",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "TV Plex Msg",
        "func": "msg.S = msg.payload.new_state.attributes.media_season;\nmsg.E = msg.payload.new_state.attributes.media_episode;\n\nvar txt1 = \"📺 \";\nmsg.user = msg.payload.new_state.attributes.session_username;\nvar realuser = msg.user.replace(\"vidvisionify\", \"Phil\");\nvar txt2 = \" is watching \";\nvar title = msg.payload.new_state.attributes.media_series_title;\nvar txt3 = \" S\";\nmsg.S = msg.payload.new_state.attributes.media_season;\nvar txt4 = \"E\";\nmsg.E = msg.payload.new_state.attributes.media_episode;\nvar txt5 = \" on Plex!\"; \nmsg.payload = txt1 + realuser + txt2 + title + txt3 + msg.S + txt4 + msg.E + txt5 ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 1040,
        "wires": [
            [
                "32fc1d51.11d1d2"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "46c86227.00487c",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Movie Plex Msg",
        "func": "msg.S = msg.payload.new_state.attributes.media_season;\nmsg.E = msg.payload.new_state.attributes.media_episode;\n\nvar txt1 = \"🎦 \";\nmsg.user = msg.payload.new_state.attributes.session_username;\nvar realuser = msg.user.replace(\"vidvisionify\", \"Phil\");\nvar txt2 = \" is watching \";\nvar title = msg.payload.new_state.attributes.media_title;\nvar txt5 = \" on Plex!\"; \nmsg.payload = txt1 + realuser + txt2 + title + txt5 ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 1080,
        "wires": [
            [
                "32fc1d51.11d1d2"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "32fc1d51.11d1d2",
        "type": "subflow:a2cc32e8.5ce71",
        "z": "a6a6fdd5.4bb71",
        "x": 1380,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f757806c.9f26c",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 640,
        "y": 1060,
        "wires": [
            [
                "cfd91109.0ae12"
            ]
        ]
    },
    {
        "id": "a340a956.5fa5d8",
        "type": "home-assistant-config",
        "z": "",
        "name": "",
        "host": "localhost",
        "port": "8123",
        "ssl": false
    }
]
