nodered.txt
[
    {
        "id": "a6a6fdd5.4bb71",
        "type": "tab",
        "label": "HA Twitter Working",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3ca6965.88feb8",
        "type": "twitter out",
        "z": "a6a6fdd5.4bb71",
        "twitter": "",
        "name": "Tweet",
        "x": 1170,
        "y": 60,
        "wires": []
    },
    {
        "id": "c1cf294b.cf7f88",
        "type": "debug",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "5bf4748c.0d6eec",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "Random Delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "1",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1180,
        "y": 160,
        "wires": [
            [
                "c1cf294b.cf7f88",
                "a3ca6965.88feb8"
            ]
        ]
    },
    {
        "id": "ced29094.b69f2",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "input_boolean.pj_sleeping",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "24f6a18c.95941e"
            ]
        ]
    },
    {
        "id": "24f6a18c.95941e",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "1133b379.c5e49d"
            ]
        ]
    },
    {
        "id": "1133b379.c5e49d",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "edc274e.b606188"
            ],
            [
                "e4a2a6c0.15d528"
            ]
        ]
    },
    {
        "id": "c561dfb2.2b592",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Traffic Control",
        "info": "",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "edc274e.b606188",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Goodnight Msg",
        "func": "msg.payload = \"🌙 It is now time for bed, and the lights have been turned off. Sweet dreams, everyone! Good night, sleep tight, don't let the bed bugs bite...\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 140,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "e4a2a6c0.15d528",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Good morning Msg",
        "func": "var d = new Date();\nvar n = d.toLocaleTimeString()\n\nmsg.payload = msg.payload.toString();\nvar text1 = \"Gooood morning, @vidvisionify! It is now \";\nvar text2 = \", and nighttime is officially over! 🌅 Time to rise and shine! \";\nmsg.payload = text1 + n + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "7d8b2507.30c33c",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "5bf4748c.0d6eec"
            ]
        ]
    },
    {
        "id": "37e66b47.c1fef4",
        "type": "exec",
        "z": "a6a6fdd5.4bb71",
        "command": "curl -O \"http://ftpcontent6.worldnow.com/wrex/weather2015/Stateline_Clouds_and_Radar_640.gif\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Download Radar",
        "x": 490,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "f7965dca.d58a8"
            ]
        ]
    },
    {
        "id": "f7965dca.d58a8",
        "type": "file in",
        "z": "a6a6fdd5.4bb71",
        "name": "Grab Radar Image",
        "filename": "Stateline_Clouds_and_Radar_640.gif",
        "format": "",
        "sendError": false,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "453dff06.209a4"
            ]
        ]
    },
    {
        "id": "453dff06.209a4",
        "type": "change",
        "z": "a6a6fdd5.4bb71",
        "name": "Attach Radar Image",
        "rules": [
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "48c159fa.178658"
            ]
        ]
    },
    {
        "id": "48c159fa.178658",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Rain Msg",
        "func": "msg.payload =\"Looks like things are starting to get a bit wet out there... ☔\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 300,
        "wires": [
            [
                "268e0806.3a0f98"
            ]
        ]
    },
    {
        "id": "63837f40.783bc",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.dark_sky_precip",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "bcea4f3.0e56eb"
            ]
        ]
    },
    {
        "id": "bcea4f3.0e56eb",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Known?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "unknown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "37e66b47.c1fef4"
            ]
        ]
    },
    {
        "id": "df578a7c.489548",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Sleep Status",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c895bd2.361b74",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Post Radar if Raining",
        "info": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "ea259a6b.994028",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "ding",
        "hass": "a340a956.5fa5d8",
        "entity": "binary_sensor.ring_front_door_ding",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "da48ebd8.581588"
            ]
        ]
    },
    {
        "id": "da48ebd8.581588",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "a16e2b15.fd7658"
            ]
        ]
    },
    {
        "id": "a16e2b15.fd7658",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 440,
        "wires": [
            [
                "4de056e9.6430e8"
            ],
            []
        ]
    },
    {
        "id": "4de056e9.6430e8",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Doorbell Msg",
        "func": "msg.payload = \"🚪🔔 Someone just ran the @ring doorbell. I wonder who it could be?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "78bfbd27.2c63c4",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Doorbell Rang",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "7cd9fb8.f329604",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "media_player.spotify",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "70dfa9ac.387778"
            ]
        ]
    },
    {
        "id": "71a82f1c.90703",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Spotify",
        "info": "",
        "x": 110,
        "y": 500,
        "wires": []
    },
    {
        "id": "70dfa9ac.387778",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Playing?",
        "property": "payload.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "2b03ed61.058202"
            ]
        ]
    },
    {
        "id": "2b03ed61.058202",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Spotify Msg",
        "func": "var text1 = \"Rocking out to '\";\nvar text2 = \"' - \";\nvar text3 = \" on @Spotify! 🎵\";\nmsg.payload = text1 + msg.payload.new_state.attributes.media_title + text2 + msg.payload.new_state.attributes.media_artist + text3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 580,
        "wires": [
            [
                "45a37af5.b39634"
            ]
        ]
    },
    {
        "id": "45a37af5.b39634",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 680,
        "y": 560,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "268e0806.3a0f98",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "a340a956.5fa5d8",
        "type": "home-assistant-config",
        "z": "",
        "name": "",
        "host": "localhost",
        "port": "8123",
        "ssl": false
    }
]
