nodered.json
[
    {
        "id": "a6a6fdd5.4bb71",
        "type": "tab",
        "label": "HA Twitter Working",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3ca6965.88feb8",
        "type": "twitter out",
        "z": "a6a6fdd5.4bb71",
        "twitter": "",
        "name": "Tweet",
        "x": 1570,
        "y": 800,
        "wires": []
    },
    {
        "id": "c1cf294b.cf7f88",
        "type": "debug",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1570,
        "y": 840,
        "wires": []
    },
    {
        "id": "5bf4748c.0d6eec",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "Random Delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "1",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1560,
        "y": 880,
        "wires": [
            [
                "c1cf294b.cf7f88",
                "a3ca6965.88feb8"
            ]
        ]
    },
    {
        "id": "ced29094.b69f2",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "input_boolean.pj_sleeping",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "24f6a18c.95941e"
            ]
        ]
    },
    {
        "id": "24f6a18c.95941e",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "1133b379.c5e49d"
            ]
        ]
    },
    {
        "id": "1133b379.c5e49d",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "edc274e.b606188"
            ],
            [
                "e4a2a6c0.15d528"
            ]
        ]
    },
    {
        "id": "c561dfb2.2b592",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Traffic Control",
        "info": "",
        "x": 1530,
        "y": 960,
        "wires": []
    },
    {
        "id": "edc274e.b606188",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Goodnight Msg",
        "func": "msg.payload = \"🌙 It is now time for bed, and the lights have been turned off. Sweet dreams, everyone! Good night, sleep tight, don't let the bed bugs bite...\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 140,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "e4a2a6c0.15d528",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Good morning Msg",
        "func": "var d = new Date();\nvar n = d.toLocaleTimeString()\n\nmsg.payload = msg.payload.toString();\nvar text1 = \"Gooood morning, @vidvisionify! It is now \";\nvar text2 = \", and nighttime is officially over! 🌅 Time to rise and shine! \";\nmsg.payload = text1 + n + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "7d8b2507.30c33c",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "8",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1530,
        "y": 920,
        "wires": [
            [
                "5bf4748c.0d6eec"
            ]
        ]
    },
    {
        "id": "37e66b47.c1fef4",
        "type": "exec",
        "z": "a6a6fdd5.4bb71",
        "command": "curl -O \"http://ftpcontent6.worldnow.com/wrex/weather2015/Stateline_Clouds_and_Radar_640.gif\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Download Radar",
        "x": 490,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "f7965dca.d58a8"
            ]
        ]
    },
    {
        "id": "f7965dca.d58a8",
        "type": "file in",
        "z": "a6a6fdd5.4bb71",
        "name": "Grab Radar Image",
        "filename": "Stateline_Clouds_and_Radar_640.gif",
        "format": "",
        "sendError": false,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "453dff06.209a4"
            ]
        ]
    },
    {
        "id": "453dff06.209a4",
        "type": "change",
        "z": "a6a6fdd5.4bb71",
        "name": "Attach Radar Image",
        "rules": [
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "48c159fa.178658"
            ]
        ]
    },
    {
        "id": "48c159fa.178658",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Rain Msg",
        "func": "msg.payload =\"Looks like things are starting to get a bit wet out there... ☔\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 300,
        "wires": [
            [
                "268e0806.3a0f98"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "63837f40.783bc",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.dark_sky_precip",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "bcea4f3.0e56eb"
            ]
        ]
    },
    {
        "id": "bcea4f3.0e56eb",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Known?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "unknown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "37e66b47.c1fef4"
            ]
        ]
    },
    {
        "id": "df578a7c.489548",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Sleep Status",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c895bd2.361b74",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Post Radar if Raining",
        "info": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "ea259a6b.994028",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "ding",
        "hass": "a340a956.5fa5d8",
        "entity": "binary_sensor.ring_front_door_ding",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "da48ebd8.581588"
            ]
        ]
    },
    {
        "id": "da48ebd8.581588",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "a16e2b15.fd7658"
            ]
        ]
    },
    {
        "id": "a16e2b15.fd7658",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 440,
        "wires": [
            [
                "4de056e9.6430e8"
            ],
            []
        ]
    },
    {
        "id": "4de056e9.6430e8",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Doorbell Msg",
        "func": "msg.payload = \"🚪🔔 Someone just ran the @ring doorbell. I wonder who it could be?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "78bfbd27.2c63c4",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Doorbell Rang",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "71a82f1c.90703",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Spotify",
        "info": "",
        "x": 110,
        "y": 500,
        "wires": []
    },
    {
        "id": "45a37af5.b39634",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 900,
        "y": 540,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "268e0806.3a0f98",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "4",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "bd7ff7e6.7b3488",
        "type": "exec",
        "z": "a6a6fdd5.4bb71",
        "command": "curl -O \"http://s3.amazonaws.com/nxsglobal/mystateline/weather/cameras/Rockford01.jpg\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Download Webcam",
        "x": 510,
        "y": 1000,
        "wires": [
            [],
            [],
            [
                "c53cc4fa.996cb8"
            ]
        ]
    },
    {
        "id": "c53cc4fa.996cb8",
        "type": "file in",
        "z": "a6a6fdd5.4bb71",
        "name": "Grab Webcam Image",
        "filename": "Rockford01.jpg",
        "format": "",
        "sendError": false,
        "x": 740,
        "y": 960,
        "wires": [
            [
                "695d6f41.ed89"
            ]
        ]
    },
    {
        "id": "695d6f41.ed89",
        "type": "change",
        "z": "a6a6fdd5.4bb71",
        "name": "Attach Webcam Image",
        "rules": [
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1000,
        "wires": [
            [
                "bcc66031.77ad8"
            ]
        ]
    },
    {
        "id": "bcc66031.77ad8",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Downtown Msg",
        "func": "msg.payload =\"What a lovely view of downtown Rockford.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 980,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "57f50c09.25ba14",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "ding",
        "hass": "a340a956.5fa5d8",
        "entity": "binary_sensor.ecolink_garage_door_tilt_sensor_sensor",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "82e255e8.2f0368"
            ]
        ]
    },
    {
        "id": "82e255e8.2f0368",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 660,
        "wires": [
            [
                "132cfdd2.d4d932"
            ]
        ]
    },
    {
        "id": "132cfdd2.d4d932",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 660,
        "wires": [
            [
                "25b4c530.bcde4a"
            ],
            []
        ]
    },
    {
        "id": "25b4c530.bcde4a",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Garage Msg",
        "func": "msg.payload = \"I sense someone opened the garage door; I turned on a light 💡 since the overhead light is broken.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 660,
        "wires": [
            [
                "877656f4.a071e8"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "877656f4.a071e8",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 960,
        "y": 620,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "a1e0578f.f232d8",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Garage Opened",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "c9bcaf5c.66b41",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "media_player.spotify",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "7d169796.2d5c68"
            ]
        ]
    },
    {
        "id": "7d169796.2d5c68",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Playing?",
        "property": "payload.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "da6d2d9a.79d9b"
            ]
        ]
    },
    {
        "id": "da6d2d9a.79d9b",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Spotify Msg",
        "func": "var text1 = \"Rocking out to '\";\nvar text2 = \" - \";\nvar text3 = \"' on @Spotify! 🎵 https://open.spotify.com/track/\";\nvar track = msg.payload.new_state.attributes.media_content_id.replace(\"spotify:track:\", \"\")\n\n\nmsg.payload = text1 + msg.payload.new_state.attributes.media_title + text2 + msg.payload.new_state.attributes.media_artist + text3 + track;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "285dc1cf.7da02e"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "285dc1cf.7da02e",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Add Mentions",
        "func": "var newString = msg.payload.replace(\"Ninja Sex Party\", \"@ninjasexparty\")\nreturn { payload : newString };",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 540,
        "wires": [
            [
                "45a37af5.b39634"
            ]
        ]
    },
    {
        "id": "a9b844db.257c18",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "Clicks",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.clicks",
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "d52e63c9.0624d"
            ]
        ]
    },
    {
        "id": "61847c16.db1754",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Clicks Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"Since installing @WhatPulse, Phil has clicked over \";\nvar text2 = \" times! 🖰 #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "d52e63c9.0624d",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 1080,
        "wires": [
            [
                "61847c16.db1754"
            ]
        ]
    },
    {
        "id": "da8fc4f6.e03e68",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.keys_pressed",
        "x": 560,
        "y": 1140,
        "wires": [
            [
                "caa25fa7.e809a"
            ]
        ]
    },
    {
        "id": "73e3bccc.a6bd34",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Keys Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"Since installing @WhatPulse, Phil has pressed over \";\nvar text2 = \" keys! 🖰 #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1140,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "caa25fa7.e809a",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1140,
        "wires": [
            [
                "73e3bccc.a6bd34"
            ]
        ]
    },
    {
        "id": "ce2d68ea.a5b178",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.ha_uptime",
        "x": 550,
        "y": 1200,
        "wires": [
            [
                "24315554.d9a65a"
            ]
        ]
    },
    {
        "id": "fb9fd4c8.e9c688",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "HA Uptime Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"Home Assistant has been active for \";\nvar text2 = \" hours. 🏠 #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1200,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "24315554.d9a65a",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1200,
        "wires": [
            [
                "fb9fd4c8.e9c688"
            ]
        ]
    },
    {
        "id": "60d05370.37566c",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.since_last_boot",
        "x": 560,
        "y": 1260,
        "wires": [
            [
                "3d2197f6.c64008"
            ]
        ]
    },
    {
        "id": "449666ab.934128",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Server Uptime Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"It's been \";\nvar text2 = \" since the server has been restarted. 🖳 #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1260,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "3d2197f6.c64008",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1260,
        "wires": [
            [
                "449666ab.934128"
            ]
        ]
    },
    {
        "id": "b53699af.649728",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.basement_tv_time",
        "x": 310,
        "y": 1340,
        "wires": [
            [
                "623c8c44.8f35b4"
            ]
        ]
    },
    {
        "id": "b7cb0f6f.8cdbf",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "BTV Uptime Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"The Basement TV has been on for \";\nvar text2 = \" today. 📺 #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 1320,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "962be18.89ee12",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.den_tv_time",
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "dc80d85d.3bfcd8"
            ]
        ]
    },
    {
        "id": "418b898f.041608",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "DTV Uptime Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"The Family TV has been on for \";\nvar text2 = \" today. 📺 #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 1420,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "a7c9bd5a.3cb0a",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "BTV Still Off Msg",
        "func": "msg.payload = \"The Basement TV hasn't been turned on today. 📺 #RandomStat\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 1360,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "5648d1ec.92462",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "DTV Still Off Msg",
        "func": "msg.payload = \"The Family TV hasn't been turned on today. 📺 #RandomStat\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 1460,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "f518beb4.71787",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.pandorica_time",
        "x": 320,
        "y": 1540,
        "wires": [
            [
                "7c056561.6a3bcc"
            ]
        ]
    },
    {
        "id": "f95449d1.d56428",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "PC Uptime Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"Phil's Desktop has been on for \";\nvar text2 = \" today. 🖥️ #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 1520,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "b3d50556.caf888",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "PC Still Off Msg",
        "func": "msg.payload = \"Phil's Desktop hasn't been turned on today. 🖥️ #RandomStat\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 1560,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "f3427a53.6379d8",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Not 0m?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0 minutes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0 minutes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 1340,
        "wires": [
            [
                "b7cb0f6f.8cdbf"
            ],
            [
                "a7c9bd5a.3cb0a"
            ]
        ]
    },
    {
        "id": "3c5e2a03.045d86",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Not 0m?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0 minutes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0 minutes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 1440,
        "wires": [
            [
                "418b898f.041608"
            ],
            [
                "5648d1ec.92462"
            ]
        ]
    },
    {
        "id": "cfaf26f9.70ce98",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Not 0m?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0 minutes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0 minutes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 1540,
        "wires": [
            [
                "f95449d1.d56428"
            ],
            [
                "b3d50556.caf888"
            ]
        ]
    },
    {
        "id": "7c056561.6a3bcc",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.attributes.value ;\nvar replace1 = msg.payload.replace(\"m\", \" minutes\")\nvar replace2 = replace1.replace(\"h\", \" hours\")\nreturn { payload : replace2 };",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1540,
        "wires": [
            [
                "cfaf26f9.70ce98"
            ]
        ]
    },
    {
        "id": "6b93c778.e09098",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Random Number",
        "func": "var x = Math.floor(Math.random() * 13) + 1  \nmsg.payload = x ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 1100,
        "wires": [
            [
                "96dc08af.228488"
            ]
        ]
    },
    {
        "id": "96dc08af.228488",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 13,
        "x": 250,
        "y": 1220,
        "wires": [
            [
                "bd7ff7e6.7b3488"
            ],
            [
                "a9b844db.257c18"
            ],
            [
                "da8fc4f6.e03e68"
            ],
            [
                "ce2d68ea.a5b178"
            ],
            [
                "60d05370.37566c"
            ],
            [
                "b53699af.649728"
            ],
            [
                "962be18.89ee12"
            ],
            [
                "f518beb4.71787"
            ],
            [
                "823e6d49.3c2a2"
            ],
            [
                "cf54542c.039ef8"
            ],
            [
                "21c39606.a69fca"
            ],
            [
                "b14c26d3.547bf8"
            ],
            [
                "3b1c9e28.1385b2"
            ]
        ]
    },
    {
        "id": "dc80d85d.3bfcd8",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.attributes.value ;\nvar replace1 = msg.payload.replace(\"m\", \" minutes\")\nvar replace2 = replace1.replace(\"h\", \" hours\")\nreturn { payload : replace2 };",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1440,
        "wires": [
            [
                "3c5e2a03.045d86"
            ]
        ]
    },
    {
        "id": "623c8c44.8f35b4",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.attributes.value ;\nvar replace1 = msg.payload.replace(\"m\", \" minutes\")\nvar replace2 = replace1.replace(\"h\", \" hours\")\nreturn { payload : replace2 };",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1340,
        "wires": [
            [
                "f3427a53.6379d8"
            ]
        ]
    },
    {
        "id": "c8060284.8c33f",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Random Stats",
        "info": "",
        "x": 230,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8033cd32.bc69c",
        "type": "inject",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "0 9-20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "6b93c778.e09098"
            ]
        ]
    },
    {
        "id": "823e6d49.3c2a2",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "counter.ring_events",
        "x": 310,
        "y": 1640,
        "wires": [
            [
                "e8ddfc92.b0356"
            ]
        ]
    },
    {
        "id": "38607bf9.6fcac4",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Motion Counter Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text2 = \" motion events have happened at the front door today. 🚪️ #RandomStat\";\nmsg.payload = msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 1620,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "17fcb139.b4813f",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "No",
        "func": "msg.payload = \"No\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1660,
        "wires": [
            [
                "38607bf9.6fcac4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "b1c23d55.2005e",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Not 0?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 1640,
        "wires": [
            [
                "38607bf9.6fcac4"
            ],
            [
                "17fcb139.b4813f"
            ]
        ]
    },
    {
        "id": "e8ddfc92.b0356",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1640,
        "wires": [
            [
                "b1c23d55.2005e"
            ]
        ]
    },
    {
        "id": "cf54542c.039ef8",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.current_version",
        "x": 320,
        "y": 1720,
        "wires": [
            [
                "dd8330a7.dd562"
            ]
        ]
    },
    {
        "id": "1758343d.431f6c",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "HA Version Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"Currently running version \";\nvar text2 = \" of Home Assistant. 🏠 #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 1720,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "dd8330a7.dd562",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1720,
        "wires": [
            [
                "1758343d.431f6c"
            ]
        ]
    },
    {
        "id": "714cc9f0.8ec798",
        "type": "exec",
        "z": "a6a6fdd5.4bb71",
        "command": "wget -O giphy.gif ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Download GIF",
        "x": 720,
        "y": 840,
        "wires": [
            [],
            [],
            [
                "8256a71b.8eb428"
            ]
        ]
    },
    {
        "id": "8256a71b.8eb428",
        "type": "file in",
        "z": "a6a6fdd5.4bb71",
        "name": "Grab GIF",
        "filename": "giphy.gif",
        "format": "",
        "sendError": false,
        "x": 900,
        "y": 820,
        "wires": [
            [
                "4923e86d.d4a6f8"
            ]
        ]
    },
    {
        "id": "4923e86d.d4a6f8",
        "type": "change",
        "z": "a6a6fdd5.4bb71",
        "name": "Attach GIF Image",
        "rules": [
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 860,
        "wires": [
            [
                "745a9961.a75ca8"
            ]
        ]
    },
    {
        "id": "1164a89d.c10f57",
        "type": "giphy-random",
        "z": "a6a6fdd5.4bb71",
        "name": "giphy_random",
        "apikey": "03rtbxCTxwO49cpgu17B3NzAzNOSOAex",
        "tag": "kitten",
        "rating": "g",
        "x": 480,
        "y": 820,
        "wires": [
            [
                "5dae8eb6.12d4f"
            ]
        ]
    },
    {
        "id": "745a9961.a75ca8",
        "type": "http request",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "https://catfact.ninja/fact",
        "tls": "",
        "x": 1090,
        "y": 820,
        "wires": [
            [
                "af039311.b8456"
            ]
        ]
    },
    {
        "id": "af039311.b8456",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Cat Fact Msg",
        "func": "msg.payload = msg.payload.fact.toString();\nvar text1 = \"🐱 \"\nvar text2 = \" #randomcatfact\";\nmsg.payload = msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 860,
        "wires": [
            [
                "f2818982.c0f5b8"
            ]
        ]
    },
    {
        "id": "5dae8eb6.12d4f",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Get GIF Url",
        "func": "msg.payload = msg.payload.data.image_url.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 860,
        "wires": [
            [
                "714cc9f0.8ec798"
            ]
        ]
    },
    {
        "id": "ac8fe806.1ad9a8",
        "type": "simple-event",
        "z": "a6a6fdd5.4bb71",
        "name": "ding",
        "hass": "a340a956.5fa5d8",
        "entity": "binary_sensor.basement_motion",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "81965267.758f6"
            ]
        ]
    },
    {
        "id": "81965267.758f6",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "State?",
        "func": "msg.payload = msg.payload.new_state.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 820,
        "wires": [
            [
                "7811b4b5.7b002c"
            ]
        ]
    },
    {
        "id": "7811b4b5.7b002c",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 820,
        "wires": [
            [
                "1164a89d.c10f57"
            ],
            []
        ]
    },
    {
        "id": "d30db84a.84c178",
        "type": "comment",
        "z": "a6a6fdd5.4bb71",
        "name": "Litterbox Cat Fact",
        "info": "",
        "x": 130,
        "y": 780,
        "wires": []
    },
    {
        "id": "f2818982.c0f5b8",
        "type": "delay",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "hour",
        "randomFirst": "98",
        "randomLast": "110",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1260,
        "y": 900,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "21c39606.a69fca",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "sensor.basement_temperature",
        "x": 290,
        "y": 1780,
        "wires": [
            [
                "d707666.606ac98"
            ]
        ]
    },
    {
        "id": "20c91227.0f013e",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Basement Temp Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"The Basement is \";\nvar text2 = \"°F 🌡️ #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 1780,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "d707666.606ac98",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1780,
        "wires": [
            [
                "20c91227.0f013e"
            ]
        ]
    },
    {
        "id": "b14c26d3.547bf8",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "sensor.s7_battery",
        "hass": "a340a956.5fa5d8",
        "entity": "s7 batt",
        "x": 370,
        "y": 1840,
        "wires": [
            [
                "168f0338.8cc6bd"
            ]
        ]
    },
    {
        "id": "6865df1a.09408",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "s7 batt Msg",
        "func": "msg.payload = msg.payload.toString();\nvar text1 = \"📱 Phil's phone is at \";\nvar text2 = \"% battery. 🔋️ #RandomStat\";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 1840,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "168f0338.8cc6bd",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.state ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1840,
        "wires": [
            [
                "6865df1a.09408"
            ]
        ]
    },
    {
        "id": "3b1c9e28.1385b2",
        "type": "state",
        "z": "a6a6fdd5.4bb71",
        "name": "",
        "hass": "a340a956.5fa5d8",
        "entity": "light.nightstand",
        "x": 280,
        "y": 1900,
        "wires": [
            [
                "a9ec1f7e.2079c"
            ]
        ]
    },
    {
        "id": "29d8aa9c.f4a226",
        "type": "switch",
        "z": "a6a6fdd5.4bb71",
        "name": "Not 0?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0.0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0.0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 1900,
        "wires": [
            [
                "e72efccc.d9241"
            ],
            []
        ]
    },
    {
        "id": "a9ec1f7e.2079c",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Payload State Set",
        "func": "msg.payload = msg.payload.attributes.monthly_energy_kwh;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1900,
        "wires": [
            [
                "29d8aa9c.f4a226"
            ]
        ]
    },
    {
        "id": "e72efccc.d9241",
        "type": "function",
        "z": "a6a6fdd5.4bb71",
        "name": "Nightstand msg",
        "func": "var text1 = \"The nightstand has consumed \";\nvar text2 = \"kwh of energy in the past month. 💡🛏 #RandomStat️ \";\nmsg.payload = text1 + msg.payload + text2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 1900,
        "wires": [
            [
                "7d8b2507.30c33c"
            ]
        ]
    },
    {
        "id": "a340a956.5fa5d8",
        "type": "home-assistant-config",
        "z": "",
        "name": "",
        "host": "localhost",
        "port": "8123",
        "ssl": false
    }
]
